.no-bullet {
    list-style-type: none;
  }

.section0 {
    text-align: center;
}

.section1 {
    background-color: rgb(253, 245, 80);
    margin-left:300px;
    margin-top:50px;
    padding:10px;
    font-size:20px;
    float: left;
    width : 200px;
    height:600px;
}

.section2 {
    margin-left:20px;
    margin-top:50px;
    font-size:20px;
    float:left;
    width:800px;
}



.search {
    margin-top : 20px;
}

.title {
    text-align: center;
}

a {
    text-decoration: none;
    color:black;
    
  }