h1{
    text-align: center;
}

.question {
    text-align: center;
}

.questionContent {
    margin-left:29%;
    padding:100px;
    border:1px solid;
    border-radius:10px;
    width:800px;
}

#createButton {
    margin:10px;
}

#comebackButton {
    margin:5px;
}

.inputTitle {
    margin:5px;
    width:300px;
}

.inputContent {
    margin:5px;
    width:300px;
    height:500px;
}