h1 {
    font-size:30px;
    margin-top:20px;
    margin-left:20px;
    float:left;
}
/* 전체 div */
.reservationDiv {
    margin-left:280px;
}

/*돌아가기 버튼*/
.comebackButton {
    margin-left:20px;
    border:none;
    cursor: pointer;
    background-color: white;
}

/*예약 섹션1*/
.reservationSection1 {
    width:38%;
    margin-left:20px;
    margin-top:100px;
}

/*예약 섹션2*/
.reservationSection2 {
    margin-left:600px;
    width:50%;
    margin-top:-200px;
   
}

/*예약 섹션3*/
.reservationSection3 {
    margin-top:-150px;
}

/* 예약 버튼 */
#reservationButton{
    padding:20px;
    margin-top:10px;
    border-radius: 10px;
}

/*예약확인 버튼*/
#checkButton {
    border:none;
    border-radius: 5px;
    margin-left : 10px;
}

/*결제버튼*/
#payButton {
    padding:20px;
    border:none;
    margin-left:20px;
}

/*커버이미지*/
.CoverImage {
    margin-right: 30px;
    width:500px;
    height:300px;
}

.backSpaceImage {
    width:50px;
    height: 50px;
}

/* 결제선택버튼 */
.buttonBox {
    margin-top:20px;
}

/* 고객센터 버튼 */
#serviceCenterButton {
    background-color: white;
    margin-top:30px;
    margin-left:20px;
    border:none;
}

/* 카카오 상담 */
#kakaoQuestionButton {
    background-color: white;
    margin-top:30px;
    margin-left:20px;
    border:none;

}

/* 카카오 이미지 */
#kakao {
    width:50px;
    height:50px;
}

/* 체크박스 */
.checkBox {
    margin-top :20px;
    margin-left:20px;
}

/* 결제 모달 */
.Modal {
    border:1px solid;
    width: 500px;
    height: 500px;
    background-color: #f8f8f8;
    position:fixed;
    top:30%;
    left:40%;
  }

/* 결제 카드 이미지 */
#cardImage {
    margin-left:10px;
    width:60px;
    height:40px;
}

/* 모달 창 div  */
.modalDiv {
    margin-top: 20px;
    margin-left: 30px;
}

/* 모달 결제하기 버튼 */
#modalButton {
    padding:20px;
    background-color: rgb(69, 56, 250);
    color:white;
    border-radius: 10px;
    border:none;
    margin-left:170px;
    margin-top:330px;
}

li {
    list-style-type: none;
}
